nav li{
    display: block;
    float: right;

}


.navbar{
    background-color: #3989c6;
}

.nav-link{
    color: white !important;
    font-weight: 600;
    float: right;
    text-align: right;
}

a:hover{
    font-size: 30px;
}

.active{
    font-size: 25px;
}

.container{
    background-image: linear-gradient(to right,#2895f1,#0060b1);
    color: white;
    padding-top: 3%;
    width: 25%;

}
.btn {
    cursor: pointer;
    border-radius: 0.6em;
    color: #fff;
    background: linear-gradient(to right,#2895f1,#0060b1);
    border: 0px;
    text-decoration: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    padding: 10px 40px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 14px;
    margin-left: 30%;
}
.btn:hover{
    font-size: 17px;
}

.container-invoice{
    margin-top: 80px;
    border-radius: 35px;
    width: 45%;
    color: white;
    padding-left: 10px;
    background-image: linear-gradient(to right,#2895f1,#0060b1);
}

#company_title{
    padding-bottom: 3%;
}

.btn{
    margin: 20px 25%;
}

.main{
    margin-top: 20px;
    padding-left: 350px;
}
.error{
    color:white;
}
